{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    /* Additional styles specific to this template */
    h2 {
        text-align: center;
        margin-top: 50px;
        color: #333;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    form button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    form button:hover {
        background-color: #0056b3;
    }

    form p {
        text-align: center;
        margin-top: 10px;
    }

    form p a {
        color: #007bff;
        text-decoration: none;
    }

    form p a:hover {
        text-decoration: underline;
    }
</style>

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
{% endblock %}
